doctype html
html(ng-app="aplicacion")
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0 user-scalable=no')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style_resp_425.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style_resp_768.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style_resp_1024.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style_resp_1440.css')
		script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
		script(type='text/javascript', src='/js/design_control.js')
		script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js", type="text/javascript")
		script( src="/js/logicaFront/admin.js", type="text/javascript")
	body(ng-controller="adminCtrl")
		section.toolbar.bg_primary.shadow_flat
			button#menu_button.menu_button(onclick='showMenu( true );')
				img.icon.v_align_middle(src='/icons/menu.png')
			.toolbar_in
				.logo_container.font_white.v_align_top
					img.icon.v_align_middle(src='/icons/logo_white.png')
					h1.title_smaller.v_align_middle Shop It
		.toolbar_back
		article#menu.menu.shadow_flat.bg_white
			.close.text_align_right
				button.text_align_center.hover_black(onclick='showMenu( false );')
					img.icon.opacity.v_align_middle(src='/icons/close_black.png')
			if datos
				section.profile_container
					.pd_24.text_align_center
						a.font_gray(href='/cuenta')
							.img_container.circle.margin_auto
								img(src='/icons/default_profile.png')
						.name.mr_top_24
							a.font_gray(href='/cuenta')
								h3.title_smaller
									| #{datos.nombre} #{datos.apellido}
			section.list
				if datos
					nav.menu_options
						a(href='/')
							li.pd_16.hover_black
								img.icon.opacity(src='/icons/home_black.png')
								strong
									| Inicio
						a(href='/cuenta')
							li.pd_16.hover_black
								img.icon.opacity(src='/icons/account_black.png')
								strong
									| Cuenta
						a(href='/admin')
							li.pd_16.hover_black
								img.icon.opacity(src='/icons/edit_black.png')
								strong
									| Administrador
			section.bottom_actions
				if datos
					.text_align_right
						a.font_red(href='/logout')
							button.font_red.pd_16.font_big
								| Cerrar sesión
				else
					.text_align_right
						a.font_red(href='/registro')
							button.pd_16.font_red.font_big
								| Registrate
					.text_align_right
						a.font_red(href='/login')
							button.pd_16.font_red.font_big
								| Iniciar Sesión
		div(ng-init="mostrarProductos()")
			block content
