extends layout

block content
	article.page
		section.product_detail
			section.left
				.img_container.super_img
					img(src='https://www.theedgesusu.co.uk/wp-content/uploads/2015/10/the-1975-love-me-single-artwork1.jpg')
				.pd_24
					h1.title_medium.font_primary
						| Love Me
					h2.title_smaller.mr_top_16.opacity
						| Stock en tienda: 
						span.mr_left_8 {{producto.cantidad}}
					.add_cart_container.text_align_center.mr_top_24
						h3.font_gray.mr_bottom_8
							| Añadir al carrito
						button.circle.hover_black.button_size40(title='Quitar')
							img.icon.opacity(src='/icons/minus_black.png')
						span.pd_8.title_smaller.v_align_middle
							| 0
						button.circle.hover_black.button_size40(title='Agregar')
							img.icon.opacity(src='/icons/plus_black.png')
			section.right
				.product
					.product_info
						.pd_24
							.info.mr_bottom_32
								div
									h3.title_smaller.mr_bottom_8.font_gray
										| Descripcion:
									p.title_small.pd_8
										| Single
							.price_container.text_align_right
								.prices
									.discount
									h2.title_big.total.mr_top_16.font_normal
										| $ 17.00
//*		section.valorations
			h2.font_primary.title_medium.pd_24.resp_title
				| Valoraciones y comentarios
			.val_list.responsive_col.text_align_center
				.col_2.text_align_left
					.pd_8.mr_bottom_8
						.bg_white.shadow_flat
							.pd_24
								.user_container
									span.button_size56.img_container.circle.v_align_top
										img(src='/icons/default_profile.png')
									span.mr_left_16.v_align_top
										h3.title_smaller.mr_top_4
											| Nombre Fulano
										p.opacity.font_big.mr_top_4
											b Calificación
											span 4/5
								.mr_top_16
									p.font_big
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
*//