@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: #F5F5F5;
	font-size: 16px;
	color: #212121;
}

button { 
	background: transparent; 
	border: none;
	padding: 0;
	margin: 0;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}

span { display: inline-block; }

button.bg_white {
	color: #212121;
}

button img {
	vertical-align: middle;
}

button:hover {
	background-color: #FFF !important;
	color: #212121 !important;
	transition: all 0.3s;
}

a { text-decoration: none; }

/*---- SPACING -------------------------- */

.w_100 {
	width: 100% !important;
	height: auto !important;
}

.h_100 {
	width: auto !important;
	height: 100% !important;
}

.button_size40 { width: 40px !important; height: 40px !important; }
.button_size48 { width: 48px !important; height: 48px !important; }
.button_size56 { width: 56px !important; height: 56px !important; }

/* PADDING */
.pd_0{padding: 0 !important;}
.pd_top_0{padding-top: 0 !important;}
.pd_4{padding: 4px;}
.pd_top_4{padding-top: 4px;}
.pd_bottom_4{padding-bottom: 4px;}
.pd_left_4{padding-left: 4px;}
.pd_right_4{padding-right: 4px;}
.pd_8{padding: 8px;}
.pd_top_8{padding-top: 8px;}
.pd_bottom_8{padding-bottom: 8px;}
.pd_left_8{padding-left: 8px;}
.pd_right_8{padding-right: 8px;}
.pd_12{padding: 12px;}
.pd_top_12{padding-top: 12px;}
.pd_bottom_12{padding-bottom: 12px;}
.pd_left_12{padding-left: 12px;}
.pd_right_12{padding-right: 12px;}
.pd_16{padding: 16px;}
.pd_top_16{padding-top: 16px;}
.pd_bottom_16{padding-bottom: 16px;}
.pd_left_16{padding-left: 16px;}
.pd_right_16{padding-right: 16px;}
.pd_24{padding: 24px;}
.pd_top_24{padding-top: 24px;}
.pd_bottom_24{padding-bottom: 24px;}
.pd_left_24{padding-left: 24px;}
.pd_right_24{padding-right: 24px;}
.pd_32{padding: 32px;}
.pd_top_32{padding-top: 32px;}
.pd_bottom_32{padding-bottom: 32px;}
.pd_40{padding: 40px;}
.pd_top_40{padding-top: 40px;}
.pd_bottom_40{padding-bottom: 40px;}
.pd_48{padding: 48px;}
.pd_top_48{padding-top: 48px;}
.pd_bottom_48{padding-bottom: 48px;}
.pd_top_56{padding-top: 56px;}
.pd_bottom_56{padding-bottom: 56px;}
.pd_top_12{padding-top: 12px;}
.responsive_padding{padding: 32px 16px 32px 16px;}


/* MARGIN */
.mr_0{margin: 0 !important;}
.mr_top_0{margin-top: 0 !important;}
.mr_bottom_0{margin-bottom: 0 !important;}
.mr_bottom_2{margin-bottom: 2px !important}
.mr_top_4{margin-top: 4px;}
.mr_bottom_4{margin-bottom: 4px;}
.mr_left_4{margin-left: 4px;}
.mr_right_4{margin-right: 4px;}
.mr_8{margin: 8px;}
.mr_top_8{margin-top: 8px;}
.mr_bottom_8{margin-bottom: 8px;}
.mr_left_8{margin-left: 8px;}
.mr_right_8{margin-right: 8px;}
.mr_12{margin: 12px;}
.mr_top_12{margin-top: 12px;}
.mr_bottom_12{margin-bottom: 12px;}
.mr_16{margin: 16px;}
.mr_top_16{margin-top: 16px;}
.mr_bottom_16{margin-bottom: 16px;}
.mr_left_16{margin-left: 16px;}
.mr_right_16{margin-right: 16px;}
.mr_24{margin: 24px;}
.mr_top_24{margin-top: 24px;}
.mr_bottom_24{margin-bottom: 24px;}
.mr_32{margin: 32px;}
.mr_left_32{margin-left: 32px;}
.mr_top_32{margin-top: 32px;}
.mr_bottom_32{margin-bottom: 32px;}
.mr_48{margin: 48px;}
.mr_top_48{margin-top: 48px;}
.mr_bottom_48{margin-bottom: 48px;}

/*--------------------------------------- */


/*---- ALIGMENT --------------------------- */

.text_align_center { text-align: center; }
.text_align_left { text-align: left; }
.text_align_right { text-align: right; }
.text-align_justify { text-align: justify; }
.margin_auto { margin-left: auto; margin-right: auto; display: block; }

.v_align_middle { vertical-align: middle; }
.v_align_top { vertical-align: top; }
.v_align_bottom { vertical-align: bottom; }

.float_left { float: left; }
.float_right { float: right; }

.break_word { word-wrap: break-word; }

/*----------------------------------------- */

/*---- TITLES --------------------------- */

.title_bigger { font-size: 48px; font-weight: lighter; line-height: 46px; }
.title_big { font-size: 40px; font-weight: lighter; line-height: 40px; }
.title_medium { font-size: 36px; font-weight: normal; line-height: 36px; }
.title_small { font-size: 30px; font-weight: normal; line-height: 30px; }
.title_smaller { font-size: 24px; font-weight: normal; line-height: 24px; }

.font_big { font-size: 19px; }
.font_small { font-size: 13px; }
.font_light { font-weight: lighter !important; }
.font_normal { font-weight: normal !important; }
.font_bold { font-weight: bold !important; }

/*--------------------------------------- */

.text_shadow { text-shadow: 0 1px 1px #000; }
.shadow_flat { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); }
.shadow_raised { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24); }

.circle {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}

.icon {
	width: 24px;
	height: 24px;
}

.img_container {
	position: relative;
	overflow: hidden;
}

.img_container img {
	position: absolute;
	height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.popup_product_img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 200px;
}

.main_action_button {
	width: auto;
	position: fixed;
	bottom: 24px;
	right: 24px;
	z-index: 5;
}

/*---- COLORITOS --------------------------- */

.bg_primary { background-color: #F8BBD0 !important; }
.bg_secondary { background-color: #E91E63 !important; }
.bg_white { background-color: #FFF !important; }
.bg_black { background-color: #000 !important; }
.bg_gray { background-color: #e0e0e0 !important; }
.bg_lightgray { background-color: #f5f5f5 !important; }
.bg_darkgray { background-color: #424242 !important; }

.bg_opacity { background-color: rgba(0, 0, 0, 0.5); }

.font_white { color: #FFF !important; }
.font_black { color: #212121 !important; }
.font_gray { color: #727272 !important; }
.font_lightgray { color: #bdbdbd !important; }
.font_red { color: #F44336 !important; }
.font_primary { color: #F8BBD0 !important; }
.font_secondary { color: #E91E63 !important; }

.border_white { border: 2px solid #fff; }
.border_bottom { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.bg_white .border_bottom { border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.opacity { opacity: 0.5; }
.hover_black { cursor: pointer; }
.hover_black:hover { background-color: rgba(0, 0, 0, 0.06) !important; }
.hover_dark:hover { background-color: #424242 !important; }
.underline:hover { text-decoration: underline; }

/*--------------------------------------- */

.border_radius { 
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;	
}

.static_col .col_2 {
	display: inline-block;
	width: 50%;
}

.static_col .col_3 {
	display: inline-block;
	width: 33.333333%;
}

/*---- TOOLBAR --------------------------- */

.toolbar { 
	width: 100%;
	position: fixed;
	height: 56px;
	top: 0;
	left: 0;
	z-index: 10;
}

.toolbar_back {
	width: 100%;
	height: 56px;
}

.toolbar button.menu_button {
	position: absolute;
	width: 56px;
	height: inherit;
	top: 0;
	left: 0;
	text-align: center;
}

.toolbar button.menu_button:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.toolbar button.menu_button img {
	width: 30px;
	height: auto;
}

.toolbar .toolbar_in {
	position: relative;
	width: calc(100% - 56px);
	height: inherit;
	margin-left: 56px;
	line-height: 54px;
	top: 0;
}

.toolbar .toolbar_in .logo_container {
	width: 40px;
	display: none;
	height: inherit;
}

.toolbar .toolbar_in .logo_container img {
	margin-right: 12px;
}

.toolbar .toolbar_in .logo_container h1 {
	line-height: normal;
	display: inline-block;
}

.toolbar .toolbar_in .right_info {
	display: inline-block;
	height: inherit;
	text-align: right;
	width: 100%;
}

.toolbar .toolbar_in .right_info .search_bar_container {
	height: inherit;
	width: 56px;
	display: inline-block;
	text-align: center;
}

.toolbar .toolbar_in .right_info .search_bar_container .search_bar {
	position: absolute;
	width: 100%;
	height: inherit;
	max-width: 520px;
	top: 0;
	right: 0;
	z-index: 2;
	display: none;
	line-height: normal;
}

.toolbar .toolbar_in .right_info .search_bar_container .search_bar .text_field {
	width: auto;
	height: 44px;
	position: relative;
	margin: 6px;
	margin-left: 0;
}

.toolbar .toolbar_in .right_info .search_bar_container .search_bar .text_field input {
	width: calc(100% - 88px);
	padding-left: 44px;
	padding-right: 44px;
	font-size: 16px;
	height: 100%;
	background: transparent;
}

.toolbar .toolbar_in .right_info .search_bar_container .search_bar .text_field button {
	width: 44px;
	height: inherit;
	line-height: normal;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.toolbar .toolbar_in .right_info .search_bar_container .search_bar .text_field button.close {
	width: 44px;
	left: initial;
	right: 0;
}

.toolbar .toolbar_in .right_info .search_bar_container:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

.toolbar .toolbar_in .right_info span.info_icons, .toolbar .toolbar_in .right_info span.info_icons span {
	height: 100%;
	display: inline-block;
}

.menu {
	width: 94%;
	max-width: 320px;
	position: fixed;
	height: 100%;
	z-index: 11;
	top: 0;
	left: -320px;
}

.menu .close {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 40px;
}

.menu .close button {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.menu .menu_options a {
	color: #212121;
}

.menu .menu_options li {
	display: block;
	width: auto;
	padding-left: 24px;
}

.menu .menu_options li img {
	margin-right: 16px;
	vertical-align: middle;
}

.menu .menu_options li strong {
	font-size: 17px;
	vertical-align: middle;
	color: #616161;
}

.menu .bottom_actions {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.profile_container {
	width: auto;
	position: relative;
}

.profile_container .img_container {
	width: 96px;
	height: 96px;
}

.profile_container .img_container.big {
	width: 120px;
	height: 120px;
}

.profile_container .img_container.bigger {
	width: 154px;
	height: 154px;
}

.img_container.change_photo #change-profile-photo {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	text-align: center;
}

.img_container.change_photo #change-profile-photo:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.img_container.change_photo #change-profile-photo img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
}

.img_container.change_photo:hover #change-profile-photo {
	opacity: 1;
	transition: all 0.3s;
}

.popup_product_img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 200px;
}

/*--------------------------------------- */

.page {
	margin-bottom: 96px;
}

.main_container {
	width: auto;
	height: 480px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.main_container .sub_container {
	width: auto;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.main_container .carousel_indicator {
	position: absolute;
	bottom: 0;
	text-align: right;
	width: 100%;
	z-index: 3;
}

.main_container .carousel_indicator .inner {
	display: inline-block;
	width: auto;
	position: relative;
	padding-right: 16px;
}

.main_container .carousel_indicator span, .main_container .carousel_indicator i {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin: 4px;
	margin-bottom: 12px;
	border: 2px solid #fff;
	cursor: pointer;
}

.main_container .carousel_indicator i.indicator {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0; 
}

.main_container .sub_container .main_block {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
}

.main_container .sub_container .main_block .img_container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main_container .sub_container .main_block .img_container img {
	height: 100%;
	width: auto;
}

.main_container .sub_container .main_block .info_container {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	white-space: normal;
}

.main_container .sub_container .main_block .info_container .center_info {
	position: relative;
	width: auto;
	max-width: 520px;
	display: inline-block;
	padding: 0 24px 0 24px;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
}

.product {
	padding-bottom: 16px;
}

.product .pr_img {
	background-color: #000;
}

.product .pr_img .img_container {
	position: relative;
	width: auto;
	height: auto;
	text-align: center;
}

.product .pr_img .img_container img {
	position: relative;
	width: auto;
	height: auto;
	max-height: 280px;
	max-width: 100%;
	transform: none;
	display: block;
	margin: 0 auto;
	top: 0;
	left: 0;
}

.product .add_cart_container button {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
}

.product .price_contiainer span {
	display: inline-block;
}

.cart_container {
	position: fixed;
	height: calc(100% - 56px);
	width: 94%;
	right: -380px;
	max-width: 380px;
	z-index: 5;
	overflow: auto;
}

.cart_container button.close {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.cart_container .cart_title {
	padding-left: 40px;
}

.cart_container .product .product_info .pd_16 {
	padding: 18px;
}

.cart_container .product .pr_img .img_container img {
	max-height: 120px;
}

.back_bg {
	position: absolute;
	width: 100%;
	height: 360px;
}

.account_container {
	position: relative;
	z-index: 2;
	max-width: 580px;
	margin: 0 auto;
}

.account_container .right .title {
	padding-top: 24px;
}

.profile_container .edit_button_container {
	position: absolute;
	left: -16px;
	top: 16px;
	width: 100%;
	z-index: 2;
	text-align: right;
}

.pop_up_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99;
	display: none;
	background-color: rgba(255, 255, 255, 0.7);
}

.pop_up_container .pop_up_back {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pop_up_container .pop_up {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	max-width: 620px;
}

.pop_up_container .pop_up .inner .pop_up_title, .pop_up_title {
	padding: 0 24px 16px 24px;
}

.field input, .field select, .field textarea {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 6px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #e0e0e0;
	color: #212121;
	font-size: 16px;
	outline: none;
}

.field textarea {
	resize: none;
	height: 140px;
	display: inline-block;
}

.field input:focus, .field select:focus, .field textarea:focus {
	border-color: #8BC34A;
	border-width: 2px;
	padding-bottom: 5px;
}

.field input[type="submit"], .field input[type="button"] {
	width: auto;
	height: 56px;
	line-height: 56px;
	border: none;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 18px;
	cursor: pointer;
}

.field *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
.field *::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
}
.field *:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
.field *:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}

.product_detail {
	margin: 0 auto;
	max-width: 580px;
}

.product_detail .left .img_container.super_img {
	width: auto;
	position: relative;
	height: auto;
}

.product_detail .left .img_container.super_img img {
	position: relative;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 420px;
	left: 0;
	top: 0;
	transform: none;
}

.valorations {
	max-width: 1080px;
	margin: 0 auto;
}

.user_container span.mr_left_16 {
	width: calc(100% - 72px);
	word-wrap: break-word;
}

.login_container {
	margin-top: -160px;
	position: relative;
	margin-bottom: 32px;
	z-index: 2;
}

.login_bg {
	width: 100%;
	height: 240px;
	position: relative;
}

.login_bg .img_container {
	width: 100%;
	height: 100%;
}

.login_bg .bg_opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.icon_field img {
	vertical-align: bottom;
	margin: 0 18px 6px 6px;
	display: inline-block;
}

.icon_field .field_container {
	width: calc(100% - 48px);
	display: inline-block;
	vertical-align: bottom;
}

.history_total_amount {
	padding: 0 8px 16px 8px;
}

